:root {
    --cor-primaria: rgb(2, 15, 51);
    --cor-secundaria:rgb(20, 73, 219);
    --cor-fundo: rgb(0, 5, 19);
    --cor-texto: rgb(61, 104, 223);
    --cor-contraste: rgb(4, 23, 77);
    --cor-botao:rgb(6, 34, 112);

    --fonte-texto: 'Segoe UI', sans-serif;
}

.tema-claro {
    --cor-primaria: rgb(117, 149, 238);
    --cor-secundaria:rgb(41, 77, 175);
    --cor-fundo: rgb(159, 181, 241);
    --cor-texto: rgb(21, 60, 168);
    --cor-contraste: rgb(130, 160, 243);
    --cor-botao:rgb(74, 117, 236);
}

.tema-claro a {
    color: var(--cor-secundaria)
}

.tema-claro p {
    color: var(--cor-texto)
}

.tema-claro header p {
    color: var(--cor-contraste)
}

body {
    max-width: 100vw;
    font-family: 'Segoe UI', sans-serif;
}

header {
    background-color: rgb(2, 15, 51);
    color: #3146c0;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    border: 5px solid #1a3096;
}

main {
    background-color: rgb(2, 15, 51);
    color: #475fc9;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    border: 2px solid #3146c0;
    border-radius: 8px;       
    margin: 16px;
    gap: 16px;
    padding: 16px;
    flex: 1 1 30%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

img {
    width: 160px;          
    height: auto;          
    max-height: 160px;     
    object-fit: contain;   
    flex-shrink: 0;        
}

.conteudo {
    flex: 1;
}

.artigo-autor {
    font-weight: bold;
    font-style: italic;
    margin: 0 0 8px;
}

.intro {
    font-size: large;
    margin: 0 0 15px;
}

.reacoes {
    display: flex;
    gap: 10px;
    justify-content: center; 
}

button {
    padding: 6px 10px;
    cursor: pointer;
}